services:
  client:
    build: 
      context: .
      dockerfile: dev.Dockerfile
    command: dotnet run --project Client
    ports:
      - 8080:8080
  api:
    build:
      context: .
      dockerfile: dev.Dockerfile
    command: dotnet run --project Api
    environment:
      - CONNECTION_STRING=Server=db;Database=chatdb;User Id=chatuser;Password=asoienwoafin;

  db:
    image: postgres:16
    environment:
      - POSTGRES_DB=chatdb
      - POSTGRES_USER=chatuser
      - POSTGRES_PASSWORD=asoienwoafin
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_data: