@page "/"
@using Logic
@inject IConfiguration configuration
@inject HttpClient HttpClient

<PageTitle>Chat App</PageTitle>

<div>
    <p>Api url should be: @ApiUri</p>
</div>

@foreach (var message in Messages)
{
    <div>
        <p>@message.Username</p>
        <p>@message.Content</p>
        <p>@message.TimePosted</p>
    </div>
}


@code{
    private string ApiUri;
    public List<Message> Messages = new();

    protected override async Task OnInitializedAsync()
    {
        ApiUri = configuration["api"] ?? throw new Exception("api uri not found");

        await GetAllMessages();
    }

    public async Task GetAllMessages()
    {
        var result = await HttpClient.GetFromJsonAsync<List<Message>>($"{ApiUri}/message/getall");

        if (result is not null)
        {
            Messages = result;
        }
    }
}